<main>
    <div class="container container-dashboard text-center">
        <div class="card card-dashboard">
            <div class="card-body" >
              <div class="row heading ">
                <div class="col-2">
                  <p class="coll">Picture</p>
                </div>
                <div class="col-2">
                  <p class="coll">Name</p>
                </div>
                <div class="col-2">
                  <p class="coll">Date</p>
                </div>
                <div class="col-2">
                  <p class="coll">Time</p>
                </div>
                <div class="col-2">
                  <p class="coll">Slot Duration</p>
                </div>
                <div class="col-2">
                  <p class="coll">Status</p>
                </div>
              </div>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-primary coll text-center">Join</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-primary coll text-center">Join</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-primary coll text-center">Join</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-primary coll text-center">Join</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-primary coll text-center">Join</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-primary coll text-center">Join</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-primary coll text-center">Join</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-danger coll text-center">Completed</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-danger coll text-center">Completed</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-danger coll text-center">Completed</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-danger coll text-center">Completed</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-danger coll text-center">Completed</button>
                </div>
              </div>
            </li>
              </ul>
              <ul class="list-group" style="list-style-type:none;">
                <li>
              <div class="row ele text-center">
                <div class="col-2 ">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle" width="50">
                </div>
                <div class="col-2">
                  <p class="coll">{Name}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Date}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Time}</p>
                </div>
                <div class="col-2">
                  <p class="coll">{Duration}</p>
                </div>
                <div class="col-2 text-center">
                  <button class="btn btn-danger coll text-center">Completed</button>
                </div>
              </div>
            </li>
              </ul>
            </div>
        </div>
    </div>
  </main>