<main class="main">
    <div class="row">
        <div class="col-sm-3" id="multiple">
            <div class="card mentor-element">
                <div class="card-body" >
                    <ul class="list-group" style="list-style-type:none;">
                      <li class="text-center">
                        <img src="profjpg.jpg" alt="Admin" class="rounded-circle  inner-ele" width="50">
                        <p class=" inner-ele">{Name}</p>
                        <p  class="inner-ele">{Time}/{Duration}</p>
                        <button class="btn btn-primary coll">Book</button>
                      </li>
                    </ul>
                  </div>
              </div>
        </div>
        <div class="col-sm-3" id="multiple">
          <div class="card mentor-element">
              <div class="card-body" >
                  <ul class="list-group" style="list-style-type:none;">
                    <li class="text-center">
                      <img src="profjpg.jpg" alt="Admin" class="rounded-circle  inner-ele" width="50">
                      <p class=" inner-ele">{Name}</p>
                      <p  class="inner-ele">{Time}/{Duration}</p>
                      <button class="btn btn-primary coll">Book</button>
                    </li>
                  </ul>
                </div>
            </div>
      </div>
      <div class="col-sm-3" id="multiple">
        <div class="card mentor-element">
            <div class="card-body" >
                <ul class="list-group" style="list-style-type:none;">
                  <li class="text-center">
                    <img src="profjpg.jpg" alt="Admin" class="rounded-circle  inner-ele" width="50">
                    <p class=" inner-ele">{Name}</p>
                    <p  class="inner-ele">{Time}/{Duration}</p>
                    <button class="btn btn-primary coll">Book</button>
                  </li>
                </ul>
              </div>
          </div>
    </div>
    <div class="col-sm-3" id="multiple">
      <div class="card mentor-element">
          <div class="card-body" >
              <ul class="list-group" style="list-style-type:none;">
                <li class="text-center">
                  <img src="profjpg.jpg" alt="Admin" class="rounded-circle  inner-ele" width="50">
                  <p class=" inner-ele">{Name}</p>
                  <p  class="inner-ele">{Time}/{Duration}</p>
                  <button class="btn btn-primary coll">Book</button>
                </li>
              </ul>
            </div>
        </div>
  </div>
  <div class="col-sm-3" id="multiple">
    <div class="card mentor-element">
        <div class="card-body" >
            <ul class="list-group" style="list-style-type:none;">
              <li class="text-center">
                <img src="profjpg.jpg" alt="Admin" class="rounded-circle  inner-ele" width="50">
                <p class=" inner-ele">{Name}</p>
                <p  class="inner-ele">{Time}/{Duration}</p>
                <button class="btn btn-primary coll">Book</button>
              </li>
            </ul>
          </div>
      </div>
 </div>
 <div class="col-sm-3" id="multiple">
  <div class="card mentor-element">
      <div class="card-body" >
          <ul class="list-group" style="list-style-type:none;">
            <li class="text-center">
              <img src="profjpg.jpg" alt="Admin" class="rounded-circle  inner-ele" width="50">
              <p class=" inner-ele">{Name}</p>
              <p  class="inner-ele">{Time}/{Duration}</p>
              <button class="btn btn-primary coll">Book</button>
            </li>
          </ul>
        </div>
    </div>
 </div>
 <div class="col-sm-3" id="multiple">
 <div class="card mentor-element">
    <div class="card-body" >
        <ul class="list-group" style="list-style-type:none;">
          <li class="text-center">
            <img src="profjpg.jpg" alt="Admin" class="rounded-circle  inner-ele" width="50">
            <p class=" inner-ele">{Name}</p>
            <p  class="inner-ele">{Time}/{Duration}</p>
            <button class="btn btn-primary coll">Book</button>
          </li>
        </ul>
      </div>
  </div>
 </div>
    </div>
  </main>